<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows</title>
</head>
<body>
    <h1>IMDB: Top 5 episodes</h1>
    <div style="margin-top: 50px; margin-left: 250px; margin-right: 250px;">
        <table border="solid" width="100%">
            <tr>
               <th>Title</th>
               <th>Episode</th>
               <th>Rating</th>
            </tr>
            <tr>
               <td>Breaking Bad</td>
               <td>Ozymandias</td>
               <td>10.0</td>
            </tr>
            <tr>
               <td>Attack on Titan</td>
               <td>Hero</td>
               <td>9.9</td>
            </tr>
            <tr>
               <td>Attack on Titan</td>
               <td>Perfect Game</td>
               <td>9.9</td>
            </tr>
            <tr>
                <td>Star Wars: The Clone Wars</td>
                <td>Victory and Death</td>
                <td>9.9</td>
             </tr>
             <tr>
                <td>Mr. Robot</td>
                <td>407 Proxy Authentication Required</td>
                <td>9.9</td>
             </tr>
        </table>
    </div>
</body>
</html>